body {
    font-family: Arial, sans-serif;
    background-color: #F5F7FA;
    margin: 0;
    padding: 20px;
}

header, footer {
    background-color: #4A90E2;
    color: white;
    padding: 1em;
    text-align: center;
}

header img {
    width: 100px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #4F4F4F;
}

nav ul li {
    padding: 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 2em;
    width: 90%;
    max-width: 800px;
    margin: auto;
}

.form-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    max-width: 600px;
    margin: auto;
}

h2 {
    color: #4A90E2;
    border-bottom: 2px solid #4A90E2;
    padding-bottom: 5px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.form-group {
    flex-basis: 48%;
    min-width: 200px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="tel"],
.form-group input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4
}

footer p {
    margin: 0;
}

.secondary-button {
    background-color: #E1ECF4;
    color: #4A90E2;
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.secondary-button:hover {
    background-color: #CFE0EA;
}

.primary-button {
    background-color: #4A90E2;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    max-width: 200px;
    margin: auto;
}

.primary-button:hover {
    background-color: #3A70C2;
}

.radio-inline {
    display: inline-block;
    margin-right: 15px;
}

.radio-inline input[type='radio'] {
    margin-right: 5px;
}
